In [1]:
print("hello WOrld")

hello WOrld

In [2]:
from dotenv import load_dotenv
import os

load_dotenv()

True

In [3]:
import google.generativeai as genai

genai.configure(api_key=os.getenv("GENAI_API_KEY"))

d:\Gen AI\textToSql\virtualenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
def generate_response(question, propmt):
    model = genai.GenerativeModel("gemini-1.5-flash")
    response = model.generate_content([propmt, question])
    return response.text

In [5]:
import sqlite3
def read_sql_query(sql,db):
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    cursor.execute(sql)
    rows = cursor.fetchall()
    conn.commit()
    conn.close()

    for row in rows:
        print(row)

    return rows

In [11]:
prompt = """
You are an expert in converting English questions into SQL queries.

Database Name: student  
Tables:  
- student (NAME, SECTION, MARK)

Example Queries:

1. Basic Query: 
   Input: "What is the name of the student in section A?"  
   Output: SELECT NAME FROM STUDENTS WHERE SECTION = 'A';  

2. Join Query:
   Input: "Get the names and scores of students who scored more than 80 in Math."  
   Output: SELECT STUDENTS.NAME, MARKS.SCORE FROM STUDENTS  
           JOIN MARKS ON STUDENTS.ID = MARKS.STUDENT_ID  
           WHERE MARKS.SUBJECT = 'Math' AND MARKS.SCORE > 80;  

3. Aggregation Query:**  
   Input: "Find the average score of students in section B."  
   Output: SELECT AVG(MARKS.SCORE) FROM MARKS  
           JOIN STUDENTS ON MARKS.STUDENT_ID = STUDENTS.ID  
           WHERE STUDENTS.SECTION = 'B';  

4. Filtering with Multiple Conditions: 
   Input: "List students from section C who scored between 50 and 70 in Science."  
   Output: SELECT STUDENTS.NAME, MARKS.SCORE FROM STUDENTS  
           JOIN MARKS ON STUDENTS.ID = MARKS.STUDENT_ID  
           WHERE STUDENTS.SECTION = 'C'  
           AND MARKS.SUBJECT = 'Science'  
           AND MARKS.SCORE BETWEEN 50 AND 70;  

Guidelines:  
- Generate only the SQL query.  
- Do not include triple backticks (```) in the output.
"""

In [13]:
question = input("Enter your question: ")
response = generate_response(question, prompt)
print("Generated SQL Query:")
print(response)

# Execute the SQL query and print the results
db = "student.db"
sql_query = response
read_sql_query(sql_query, db)

Generated SQL Query:
SELECT * FROM student;

('John Doe', 'A', 85)
('Jane Smith', 'B', 90)
('Alice Johnson', 'A', 78)
('Bob Brown', 'C', 88)
('Charlie Black', 'B', 92)
('David White', 'A', 75)
('Eva Green', 'C', 95)
('Frank Blue', 'B', 80)
('Grace Yellow', 'A', 88)
('Henry Orange', 'C', 82)
('Ivy Purple', 'B', 91)
('Jack Red', 'A', 87)

[('John Doe', 'A', 85),
 ('Jane Smith', 'B', 90),
 ('Alice Johnson', 'A', 78),
 ('Bob Brown', 'C', 88),
 ('Charlie Black', 'B', 92),
 ('David White', 'A', 75),
 ('Eva Green', 'C', 95),
 ('Frank Blue', 'B', 80),
 ('Grace Yellow', 'A', 88),
 ('Henry Orange', 'C', 82),
 ('Ivy Purple', 'B', 91),
 ('Jack Red', 'A', 87)]